recursive-include social_flask *.py
recursive-include social_flask/templates *.html
recursive-include tests *.py
include *.txt CHANGELOG.md LICENSE README.md
recursive-exclude social_flask *.pyc
recursive-include tests *.html
exclude .tox .git
